page-payments-manager {
    .closebtn{
        font-size: 15pt;
    }
    .background{
        background: #f6f6f6;
    }
    .shadow {
        margin-top: 2%;
        border-radius: 10px; 
        box-shadow: 3px 3px 15px lightgrey;
    }
    img {
        width: 1.5em;
    }
    .span {
        margin-right: 1em;
    }
}