page-subscriptions-manager {
    .closebtn{
        font-size: 15pt;
    }
    .background{
        background: #f6f6f6;
    }

    h2 {
        font-weight: bold!important;
        font-size: 11pt!important;
    }
}
