page-past-orders {
    img { 
        border:2px solid #ff0000;
    }
    h2, h5 {
        font-weight: bold!important;
    }
    .over {
        margin-top: 5px;
    }
    .background{
        background: #f6f6f6;
    }

}
