page-past-orders-detail {
    img {
        width: 100%;
    }
    .bold{
       font-weight: bold!important;
   }
   .primary {
       color: #488aff;
   }
   .light {
       color: #f4f4f4;
   }

}
