page-help-manager {
    .background{
        background: #f6f6f6;
    }
    .shadow {
        margin-top: 2%;
        border-radius: 10px;
        box-shadow: 1px 1px 15px lightgrey;
    }
    .closebtn{
        font-size: 15pt;
    }

}
