<ion-header>
  <ion-navbar no-border color="gasify">
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="contenedor">
    <img class="logo" src="assets/imgs/gasify-logo.svg">
  </div>
  <h2 text-center>Iniciar Sesión</h2>
  <form [formGroup]="driverLoginForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label no-lines outline stacked>Correo</ion-label>
        <ion-input formControlName="correo" type="email" value=""></ion-input>
      </ion-item>
      <div class="alert shadow"
        *ngIf="!driverLoginForm.controls['correo'].valid && driverLoginForm.controls['correo'].touched">
        Dato erroneo</div>
      <ion-item>
        <ion-label no-lines outline stacked>Contraseña</ion-label>
        <ion-input formControlName="contrasena" type="password" value=""></ion-input>
      </ion-item>
      <div class="alert shadow"
        *ngIf="!driverLoginForm.controls['contrasena'].valid && driverLoginForm.controls['contrasena'].touched">
        Dato erroneo</div>
    </ion-list>
    <div text-center>
      <button ion-button round outline color="light" class="btn" type="submit"
        [disabled]="!driverLoginForm.valid">Continuar</button>
    </div>
  </form>
</ion-content>