page-password {
  h2 {
    color: #f6f6f6;
    line-height: 5pt;
    margin-bottom: 10%;
  }

  ion-content {
    background-color: #0a1843 !important;
    color: #f6f6f6;
  }

  ion-item {
    margin-bottom: 5% !important;
    background-color: #0a1843 !important;
    color: #f6f6f6 !important;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
  }

  ion-footer {
    margin-bottom: 20%;
  }
  .contenedor {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 45%;
  }
  .alert {
    background: #f3b166;
    padding: 7px;
    font-size: 0.9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
  }
}
