page-menu {
    .lineTop {
        border-top: 1px solid #c0c0c0!important;
    }
    .lineBottom {
        border-bottom: 1px solid #c0c0c0!important;
    }

    .bold {
        font-weight: bold;
    }
    .espaciado {
        line-height: 2pt;
    }
}
