<ion-header>
  <ion-navbar color="gasify">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lobby</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding text-center class="background">
  <ion-item no-lines class="shadow">
    <ion-label *ngIf="status">Estás online</ion-label>
    <ion-label *ngIf="!status">Estás offline</ion-label>
    <ion-toggle color="secondary" [(ngModel)]="status" (ionChange)="toggleOnline()"></ion-toggle>
  </ion-item>
  <!-- <div *ngIf="status" left>
    <button ion-button icon-only color="gasify" round (click)="checkOrders()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </div> -->
  <img *ngIf="status" src="assets/imgs/gasify-map-icon.svg">
  <img *ngIf="!status" src="assets/imgs/gasify-lost-conection.svg">
  <div *ngIf="status">
    <ion-label >Buscando pedidos</ion-label>
    <h6>Empezarás a recibir pedidos dentro de poco</h6>
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <ion-label *ngIf="!status">¡Conéctate!</ion-label>
  <h6 *ngIf="!status">Para empezar a recibir pedidos</h6>
 
  <!-- <button color="gasify" ion-button block *ngIf="status" (click)="showModal()">Iniciar ruta</button> -->
</ion-content>


<!-- <script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function sendOnline() {
    var socket = io();
    $('form').submit(function (e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', 'online');
      return false;
    });
    socket.on('chat message', function (msg) {
      $('#messages').append($('<li>').text(msg));
    });
  });
</script> -->


<ion-footer *ngIf="status" text-center no-border>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="x">
            $0.00
          </ion-col>
          <ion-col class="y">
            15
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="x">
            Ganancias
          </ion-col>
          <ion-col class="y">
            Órdenes completadas
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-footer>