page-pay-subscription {
    .background{
        background: #f6f6f6;
    }
    .shadow {
        margin-top: 2%;
        border-radius: 10px; 
    }
    img {
        width: 1.5em;
    }
    .span {
        margin-right: 1em;
    }
}
