page-register-vehicle {
    .background{
        background: #f6f6f6;
    }
    .shadow {
        box-shadow: 3px 3px 15px lightgrey;
        margin-bottom: 5%;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
    }

    img {
        width: 50%;
    }

}
